.nothingHere {
    width: 100%;
    height: 100%;
    @include flex();
    font-size: 16px;
    color: $text-subtext;
}

.leaderboardMenu {
    @include flex();
    justify-content: flex-start !important;
    padding-top: 20px;
    height: 700px;
    max-height: 700px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0) $bg-color;

    .levelDisplay {
        width: 400px;
        height: 40px;
        @include flex($justify: flex-start);

        box-sizing: border-box;
        padding: 10px;
        padding-left: 15px;
        color: $text-subtext;
        margin-bottom: 5px;
        margin-top: 15px;
        border-radius: 7px;

    }

    .button-container {
        width: 100%;
        position: absolute;
        bottom: 15px;
        @include flex($direction: column);
    }

    .leaderboardEntry {
        width: 400px;
        height: 56px;
        background-color: $bg-color;
        margin-bottom: 10px;
        border-radius: 7px;

        overflow: hidden;

        @include flex();

        .playerInfo {
            position: relative;
            @include flex($justify: flex-start, $direction: column);
            height: 100%;
            width: 230px;

            color: $text-bright;

            img {
                position: absolute;
                left: 0;
                height: 160%;
                margin: 0 20px 0 0;
                transform: rotate(45deg);
                opacity: 0.2;
                z-index: 1;
            }

            .playerName {
                margin-left: 20px;
                z-index: 2;
            }

            .signature {
                z-index: 2;
                margin-left: 20px;
                font-size: 10px;
                font-weight: lighter;
                color: $text-subtext;
                margin-top: -5px;
                opacity: 0.5;
            }
        }

        .playerData {
            height: 100%;
            width: 270px;

            @include flex($justify: flex-end);

            .data {
                @include flex();
                height: 100%;
                width: 33%;
                color: $text-subtext;
            }

            .spacer {
                height: 70%;
                width: 1px;
                margin: 0 10px 0 10px;
                opacity: 0.1;

                background-color: $text-subtext;
            }

            .score {
                background-color: $text-accent;
                margin-left: 10px;
                color: $text-dark;
            }
        }
    }
}
