@import '~styles/components/menu/menu';


.startMenu {
    header {
        width: 60%;
        margin-bottom: 50px;

        @include flex($direction: column);

        .startHeader {
            font-size: 78px !important;
            font-family: Anurati;
            margin: 0;
            padding: 0;
        }

        .username {
            color: $border-color;
        }
    }
}