.hud {
    width: 100%;
    height: 100%;

    @include flex($direction: column);

    .wave {
        width: 150px;
        height: 150px;

        margin-bottom: 50px;

        border-radius: 50%;
        font-size: 24px;
        color: #fff;
        text-align: center;

        background-color: $bg-transparent;

        @include flex($direction: column);
    }

    .timer {
        font-size: 32px;

        color: #fff;
        width: 50px;
        padding: 10px 50px;
        margin-top: 50px;

        @include flex();
        background-color: $bg-transparent;
        border-radius: 7px;
    }

    .waveStats {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        padding: 20px 40px;
        
        @include flex();
        flex-wrap: wrap;

        .stat {
            margin: 0 10px;
            color: #fff;
            @include flex();

            .marker {
                width: 25px;
                height: 15px;
                border-radius: 3px;
                margin-right: 5px;

                &.accuracy {
                    background-image: linear-gradient(130deg, #6c52d9 0%, #1eaafc 85%, #3edfd7 100%);
                }

                &.wpm {
                    background-image: linear-gradient(130deg, #52d963 0%, #1efcfc 85%, #3eb2df 100%);
                }
            }
        }
    }
}