$bg-color: #181b21;
$bg-transparent: rgba(34, 40, 49, 0.4);
$bg-button: rgba(11, 11, 11, 0.4);


$dot-color: #364461;
$text-subtext: #58647c;
$text-dark: #181b21;
$text-accent: #7289da;

$transparent-grey: rgba(114, 137, 218, 0.4);
$border-color: $transparent-grey;