$bg-color: #181b21;
$bg-transparent: rgba(34, 40, 49, 0.4);
$bg-button: rgba(11, 11, 11, 0.4);


$dot-color: #364461;
$subtext-color: #58647c;

$transparent-grey: rgba(54, 68, 97, 0.5);
$border-color: $transparent-grey;