$bg-color: #1b2026;
$bg-transparent: rgba(34, 40, 49, 0.8);
$bg-button: #1b2026;


$dot-color: #364461;

$text-subtext: #99aab5;
$text-dark: #181b21;
$text-accent: #7289da;
$text-bright: #fff;


$transparent-grey: rgba(114, 137, 218, 0.4);
$border-color: $transparent-grey;