@import '~styles/fonts';



$dot-size: 1px;
$dot-space: 22px;

$bg-color: #181b21;
$dot-color: #364461;



html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #242424;
}

body {
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;

    background:
		linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
		linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
		$dot-color;
    background-size: $dot-space $dot-space;



    h1#title {
        color: white;
        grid-column: 1 / span 5;
        grid-row: 1 / span 1;

        height: 100%;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        padding: 0;
        margin: 0;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(5, 100px);
        grid-template-rows: repeat(8, 100px);
    }
    
    
    canvas {
        grid-column: 1 / span 5;
        grid-row: 1 / span 8;
    
        background-color: #181b21;
        border-radius: 4px;

        border: 1px solid $dot-color;
    }
    
    
    #root {
        z-index: 10;
    
        width: 500px;
        height: 800px;
    
        background-color: transparent;
    
        grid-column: 1 / span 5;
        grid-row: 1 / span 8;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}