.background {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute !important;

    .liquid {
        position: absolute;
        top: 0;
        left: 0;
        width: 500px;
        height: 800px;
        background: #272f3a;
        box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
        transition: .5s;
    }

    .liquid::after,
    .liquid::before {
        content: '';
        width: 200%;
        height: 200%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -75%);
    }

    .liquid::before {
        border-radius: 45%;
        background: rgba(24, 27, 33, 1);
        animation: animate 40s linear infinite;
    }

    .liquid::after {
        border-radius: 40%;
        background: rgba(24, 27, 33, 0.4);
        animation: animate 60s linear infinite;
    }

    @keyframes animate {
        0% {
            transform: translate(-50%, -75%) rotate(0deg);
        }
        100% {
            transform: translate(-50%, -75%) rotate(360deg);
        }
    }
}